.button {
  min-width: 10px;
  min-height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: 1px solid white;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  box-sizing: border-box;
  transition: opacity .3s;
  outline: none;
}

.button:hover {
  opacity: .6;
  cursor: pointer;
}