.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 42px 0 36px;
  color: white;
}

@media screen and (min-width: 600px) {
  .profile {
    flex-direction: row;
    padding: 40px 0 50px;
  }
}