.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}