.popup__container {
  width: 100%;
  max-width: 260px;
  padding: 25px 15px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  .popup__container {
    max-width: 430px;
    padding: 35px;
  }
}