.button_type_close-popup {
  width: 40px;
  height: 40px;
  background-image: url('./../../../images/icons/close.svg');
  background-size: cover;
  border: 0;
  transform: translate(82%, -83%);
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 600px) and (min-height: 400px) {
  .button_type_close-popup {
    width: 40px;
    height: 40px;
    background-size: auto;
    transform: translate(100%, -100%);
  }
}

@media screen and (max-height: 399px) {
  .button_type_close-popup {
    width: 40px;
    height: 40px;
    transform: translate(135%, 0%);
  }
}